<!DOCTYPE html>
<html>
<head>
  <title>Pedal | The Instagram Promotion Marketplace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Pedal" />
  <meta description="description" content="Pedal is a marketplace to connect brands and popular users on Instagram. Find brands you like, make posts with a product, and have money sent directly to your bank account." />
  <%= render 'layouts/ga' %>
</head>
<body>

<%= yield %>

</body>
</html>
